@import "settings";
@import "foundation";

$global-margin: 1.5rem 0.5rem 0.5rem;
$global-span-width: 13rem;
$global-background: #fff;
$global-content: isitlight($global-background, #000, #fff);
$global-header-color: smartscale($global-content, 40%);

.grid-block, .contact-details {
    margin: $global-margin;
}

.contact-details {

    .contact-details-content {
        margin: $global-margin;
    }

    dl {
        border-bottom: 1px solid #004978;
    }

    &#addresses {
        li {
            margin-bottom: 3rem;
        }
        /*        .contact-details-content {
                    border: 1px solid #000;
                    padding: 0.5rem;
                }*/
    }
}

.contact-details-content {
    dl.editing {
        .edit {
            display: block;
        }

        .view {
            display: none;
        }
    }

    .edit {
        display: none;
    }
}